//============================================
// Form
//============================================


// Additional reset
//============================================

input,
button,
optgroup,
select,
textarea
  vertical-align: middle

form
  position: relative

fieldset
  margin: 0
  padding: 0
  border: none

label
  display: inline-block

label[for]
  cursor: pointer

button,
input[type="submit"]
  outline: 0


// Inputs
//============================================

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"]
  -webkit-appearance: none
  outline: 0
  width: 100%
  color: inherit
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  line-height: $lh
  border: 1px solid $gray-light
  border-radius: 0
  background: white
  padding: $space-quarter
  transition: box-shadow .2s

  &.disabled,
  &[disabled]
    background: $gray-light
    cursor: default
    color: $gray

  &:focus
    box-shadow: 0 0 5px 0 rgba(black, .2)


// Selects
//============================================

select[multiple]
  height: auto
  background-image: none


// Textareas
//============================================

textarea
  vertical-align: top
  height: auto
  min-height: 100px
  resize: vertical


// Checkboxes & Radiobuttons
//============================================

input[type="radio"],
input[type="checkbox"]
  margin: 0 $space-quarter 0 0
  line-height: inherit
  vertical-align: baseline



//============================================
// Browser Specific
//============================================


// Webkit
@media screen and (-webkit-min-device-pixel-ratio: 0)
  select
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTkiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDE5IDUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE5IDUiIHhtbDpzcGFjZT0icHJlc2VydmUiPiAgPHBvbHlnb24gZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHBvaW50cz0iMCwwIDQuNSw1IDksMCAiLz48L3N2Zz4=)
    background-repeat: no-repeat
    background-position: right center
    padding-right: 26px

  select[multiple]
    padding: 0
    background-image: none