//============================================
// Sprite Definition
//============================================

$i-map: (
  test-width: 32px,
  test-height: 32px,
);

.i-test {
  width: 32px;
  height: 32px;
}

