//===========================================
// Sprite Definition
//===========================================

$i-map: (
  facebook-width: 32px,
  facebook-height: 32px,

  twitter-width: 32px,
  twitter-height: 32px,
);

.i-facebook {
  width: 32px;
  height: 32px;
}

.i-twitter {
  width: 32px;
  height: 32px;
}

