//============================================
// Global variables
//============================================


// Colors
//============================================

$primary:     #00f;
$black:       #111;

$gray:        #ddd;
$gray-light:  #f7f7f7;
$gray-dark:   #767676;

$color-text:  $black;
$color-bg:    white;


// Dimensions
//============================================

$space:              2.4rem; // 24px
$space-quarter:      $space * 0.25;
$space-half:         $space * 0.5;
$space-threeQuarter: round($space * 0.75);
$space-oneAndHalf:   $space * 1.5;
$space-double:       $space * 2;


// Typography
//============================================

$font:      "Helvetica Neue", Arial, sans-serif;
$font-mono: monospace, monospace;
$fs:        1.6rem;
$lh:        ($space / $fs);

$fs-h1: 4.8rem;
$fs-h2: 3.6rem;
$fs-h3: 3rem;
$fs-h4: 2.5rem;
$fs-h5: 2rem;
$fs-h6: 1.6rem;


// Layout
//============================================

// 1. Breakpoints are defined in em's, they are not affected by the
// reset on the html element. They use 16px (browser default)
// as a base for calculations. Keep in mind when creating new breakpoints.

// 2. Substract 1px (1 / 16 = 0.0625em) to make the max-width query.

// XS
$layout-gutter-xs: 1.6rem;
$layout-width-xs:  36.8rem;

$layout-width-xs-mq: 25em; // 1. == 400px
$layout-width-xs-mq-down: $layout-width-xs-mq - 0.0625em; // 2.

// SM
$layout-gutter-sm: 1.8rem;
$layout-width-sm:  56rem;

$layout-width-sm-mq: 37.25em; // 1. == 596px
$layout-width-sm-mq-down: $layout-width-sm-mq - 0.0625em; // 2.

// MD
$layout-gutter-md: 1.8rem;
$layout-width-md:  72.4rem;

$layout-width-md-mq: 47.5em; // 1. == 760px
$layout-width-md-mq-down: $layout-width-md-mq - 0.0625em; // 2.

// LG
$layout-gutter-lg: 1.8rem;
$layout-width-lg:  98.8rem;

$layout-width-lg-mq: 64em; // 1. == 1024px
$layout-width-lg-mq-down: $layout-width-lg-mq - 0.0625em; // 2.


// Breakpoints
//============================================

$bp-xs:       "(min-width: #{$layout-width-xs-mq})";
$bp-sm:       "(min-width: #{$layout-width-sm-mq})";
$bp-md:       "(min-width: #{$layout-width-md-mq})";
$bp-lg:       "(min-width: #{$layout-width-lg-mq})";

$bp-xs-down:  "(max-width: #{$layout-width-xs-mq-down})";
$bp-sm-down:  "(max-width: #{$layout-width-sm-mq-down})";
$bp-md-down:  "(max-width: #{$layout-width-md-mq-down})";
$bp-lg-down:  "(max-width: #{$layout-width-lg-mq-down})";


// Grid
//============================================

$grid-columns: 12;

$grid-config-xs: (
  "name": "",
  "cols": $grid-columns,
  "gutter": $layout-gutter-xs,
  "bp": false,
  "off": false,
  "pull": false,
  "push": false,
  "clear": 2
);

$grid-config-sm: (
  "name": "sm",
  "cols": $grid-columns,
  "gutter": $layout-gutter-sm,
  "bp": $bp-sm,
  "off": true,
  "pull": true,
  "push": true,
  "clear": 2
);

$grid-config-md: (
  "name": "md",
  "cols": $grid-columns,
  "gutter": $layout-gutter-md,
  "bp": $bp-md,
  "off": true,
  "pull": true,
  "push": true,
  "clear": 3 4
);

$grid-config-lg: (
  "name": "lg",
  "cols": $grid-columns,
  "gutter": $layout-gutter-lg,
  "bp": $bp-lg,
  "off": true,
  "pull": true,
  "push": true,
  "clear": 3 4
);

// Grid sizes for print
$grid-config-print: (
  "name": "print",
  "cols": $grid-columns,
  "gutter": $layout-gutter-md,
  "bp": "print",
  "off": true,
  "pull": true,
  "push": true,
  "clear": 2 3
);


// Dimension Utility
//============================================

$dimension-utility-sizes: (
  "1": 0.1rem,
  "2": 0.2rem,
  "3": 0.3rem,
  "4": 0.4rem,
  "quarter": $space-quarter,
  "half": $space-half,
  "threeQuarter": $space-threeQuarter,
  "": $space,
  "double": $space * 2,
  "none": 0
);

$dimension-utility-config-xs: (
  "name": "",
  "pull": true,
  "push": true,
  "padd": true,
  "bp": false,

  "sizes": $dimension-utility-sizes
);

$dimension-utility-config-sm: (
  "name": "sm",
  "pull": true,
  "push": true,
  "padd": true,
  "bp": $bp-sm,

  "sizes": $dimension-utility-sizes
);

$dimension-utility-config-md: (
  "name": "md",
  "pull": true,
  "push": true,
  "padd": true,
  "bp": $bp-md,

  "sizes": $dimension-utility-sizes
);

$dimension-utility-config-lg: (
  "name": "lg",
  "pull": true,
  "push": true,
  "padd": true,
  "bp": $bp-lg,

  "sizes": $dimension-utility-sizes
);