// ============================================
// Display
// ============================================

$config: (
  'name': 'd',
  'prop': 'display',
  'mqs': $mqs,
  'variants': (
    'none': none,
    'blk': block,
    'inl': inline,
    'ibl': inline-block,
    'flx': flex,
    'ifx': inline-flex
  )
);

@include utility-class($config);
