//============================================
// Float
//============================================

$config: (
  'name': 'flt',
  'prop': 'float',
  'mqs': $mqs,
  'variants': (
    'lft': left,
    'rgt': right,
    'none': none
  )
);

@include utility-class($config);
