// ============================================
// Text
// ============================================

// Text Transform
// ============================================

.u-tt-caps,
.u-tt-uppercase {
  text-transform: uppercase;
}

// Font Weight
// ============================================

.u-fw-bold {
  font-weight: bold;
}

// Truncate
// ============================================

.u-truncate {
  @include truncate;
}
