//============================================
// Vertical align
//============================================

$config: (
  'name': 'va',
  'prop': 'vertical-align',
  'mqs': $mqs,
  'variants': (
    'top': top,
    'btm': bottom,
    'mdl': middle
  )
);

@include utility-class($config);
