//============================================
// Defaults
//============================================

body {
  font-family: $font; // 1.
  font-size: $fs; // 1.
  line-height: $lh; // 1.
  background: $color-bg;
  color: $color-txt;
}
