//============================================
// Defaults
//============================================

// Reset box-model
//============================================

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

// IE
//============================================

@-ms-viewport {
  width: device-width;
}

// Root
//============================================

// 1. Remove gray overlay on links for iOS

html {
  -webkit-tap-highlight-color: transparent; // 1.
  font-size: 100%;
}

// Body
//============================================

// 1. Separate properties rather than using the shorthand
//    as IE 10 seems to have trouble interpreting it correctly.

body {
  font-family: $font; // 1.
  font-size: $fs; // 1.
  line-height: $lh; // 1.
  background: $color-bg;
  color: $color-txt;
  margin: 0;
}

// Reset vertical rhythm
//============================================

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

// Anchors
//============================================

a {
  text-decoration: none;
  color: inherit;
}

// Headings
//============================================

// To make them applicable to other elements
// heading styles are outsourced to mixins.
// See lib/mixins/_headings.sass

// Reset heading tags to look like text,
// use mixinis or utility classes for styling.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

// Lists (enumeration)
//============================================

// Lists are reset by default as they are often
// used as structural elements. "text-list" styles
// are located in `module/_typography.sass`

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Lists (definition)
//============================================

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

// Embeded Content
//============================================

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

// Tables
//============================================

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}

// Address
//============================================

address {
  font-style: normal;
}

// Horizontal rule
//============================================

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid;
  margin: 0;
  padding: 0;
  clear: both;
}

// Code
//============================================

pre,
code {
  font-family: $font-mono;
  font-size: inherit;
}

// Quotes
//============================================

blockquote {
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

cite {
  font-style: normal;
}

// Forms
//============================================

input,
optgroup,
select,
textarea {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

label {
  display: inline-block;

  &[for] {
    cursor: pointer;
  }
}

::placeholder {
  font: inherit;
}

// Buttons
//============================================

// Reset completely to facilitate styling.

button {
  outline: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  line-height: inherit;
  vertical-align: baseline;
  color: inherit;
  cursor: pointer;
  font: inherit;
}
