// ============================================
// Layout
// ============================================

// Section
// ============================================

.l-section {
  margin-top: $space * 2;
  margin-bottom: $space * 2;

  @include mq($mq-md) {
    margin-top: $space * 4;
    margin-bottom: $space * 4;
  }
}

.l-section-filled {
  padding-top: $space * 2;
  padding-bottom: $space * 2;

  @include mq($mq-md) {
    padding-top: $space * 4;
    padding-bottom: $space * 4;
  }
}

.l-section-filled + .l-section-filled {
  margin-top: -$space * 2;

  @include mq($mq-md) {
    margin-top: -$space * 4;
  }
}

.l-section-first {
  margin-top: 0;
  padding-top: $space * 4;

  @include mq($mq-lg) {
    padding-top: $space * 6;
  }
}

.l-section-last {
  margin-bottom: 0;
  padding-bottom: $space * 4;

  @include mq($mq-md) {
    padding-bottom: $space * 6;
  }
}

// Container
// ============================================

// 1. Make text truncation work inside containers.
// 2. Declare side specific margins & paddings
//    to avoid conflicts when weaker styles try
//    to apply top & bottom margins or paddings.

.l-container {
  width: 100%; // 1.
  max-width: $layout-width-xs;
  padding-left: $layout-gutter-xs; // 2.
  padding-right: $layout-gutter-xs; // 2.
  margin-left: auto; // 2.
  margin-right: auto; // 2.

  @include mq($mq-sm) {
    max-width: $layout-width-sm;
    padding-left: $layout-gutter-sm;
    padding-right: $layout-gutter-sm;
  }

  @include mq($mq-md) {
    max-width: $layout-width-md;
    padding-left: $layout-gutter-md;
    padding-right: $layout-gutter-md;
  }

  @include mq($mq-lg) {
    max-width: $layout-width-lg;
    padding-left: $layout-gutter-lg;
    padding-right: $layout-gutter-lg;
  }
}
