//============================================
// Display
//============================================

.u-d-none
  display: none

.u-d-blk
  display: block

.u-d-inl
  display: inline

.u-d-ibl
  display: inline-block

+mq($bp-sm)
  .u-d-none\@sm
    display: none

  .u-d-blk\@sm
    display: block

  .u-d-inl\@sm
    display: inline

  .u-d-ibl\@sm
    display: inline-block

+mq($bp-md)
  .u-d-none\@md
    display: none

  .u-d-blk\@md
    display: block

  .u-d-inl\@md
    display: inline

  .u-d-ibl\@md
    display: inline-block

+mq($bp-lg)
  .u-d-none\@lg
    display: none

  .u-d-blk\@lg
    display: block

  .u-d-inl\@lg
    display: inline

  .u-d-ibl\@lg
    display: inline-block


// Print
//============================================

.u-d-none\@print
  +mq("print")
    display: none

.u-d-blk\@print
  +mq("print")
    display: block
