//============================================
// Flex box
//============================================

// Flex Direction
//============================================

$config: (
  'name': 'flxDir',
  'prop': 'flex-direction',
  'mqs': $mqs,
  'variants':
    (
      'row': row,
      'col': column,
      'rowRev': row-reverse,
      'colRev': column-reverse
    )
);

@include utility-class($config);

// Flex Direction
//============================================

$config: (
  'name': 'flxWrap',
  'prop': 'flex-wrap',
  'mqs': $mqs,
  'variants': ('wrap': wrap, 'nowrap': nowrap, 'wrapRev': wrap-reverse)
);

@include utility-class($config);

// Justify Content
//============================================

$config: (
  'name': 'flxJustify',
  'prop': 'justify-content',
  'mqs': $mqs,
  'variants':
    (
      'start': flex-sart,
      'end': flex-end,
      'center': center,
      'between': space-between,
      'around': space-around
    )
);

@include utility-class($config);

// Align Items
//============================================

$config: (
  'name': 'flxAlignItems',
  'prop': 'align-items',
  'mqs': $mqs,
  'variants':
    (
      'start': flex-start,
      'end': flex-end,
      'center': center,
      'base': baseline,
      'stretch': stretch
    )
);

@include utility-class($config);

// Align Content
//============================================

$config: (
  'name': 'flxAlignContent',
  'prop': 'align-content',
  'mqs': $mqs,
  'variants':
    (
      'start': flex-sart,
      'end': flex-end,
      'center': center,
      'between': space-between,
      'around': space-around,
      'stretch': stretch
    )
);

@include utility-class($config);

// Align Self
//============================================

$config: (
  'name': 'flxAlignItems',
  'prop': 'align-items',
  'mqs': $mqs,
  'variants':
    (
      'auto': auto,
      'start': flex-start,
      'end': flex-end,
      'center': center,
      'base': baseline,
      'stretch': stretch
    )
);

@include utility-class($config);

// Order
//============================================

$config: (
  'name': 'flxOrder',
  'prop': 'order',
  'mqs': $mqs,
  'variants':
    (
      '1': 1,
      '2': 2,
      '3': 3,
      '4': 4,
      '5': 5,
      '6': 6,
      '7': 7,
      '8': 8,
      '9': 9,
      'last': 999
    )
);

@include utility-class($config);
