//============================================
// Media
//============================================

.u-media
  @include cf()

.u-media_lft
  float: left

.u-media_rgt
  float: right

.u-media_inner
  overflow: hidden